<mat-toolbar class="" color="primary">
  <mat-icon>groups </mat-icon>
  <span class="ml-2"> {{ name }} </span>
  <span class="example-spacer"></span>

  <button mat-flat-button color="black" 
  [matMenuTriggerFor]="belowMenu" class="profile-bt">
    <mat-icon>manage_accounts</mat-icon>
    <!-- <img src="../../../assets/download (1).png" style="width: 50px ;height: 50px ;border-radius: 50px;" alt=""> -->
  </button>
  <mat-menu #belowMenu yPosition="below">
    <button mat-menu-item style="width: 150px"
    class="menu-bt" 
    routerLink="/user-profile">
      <mat-icon>person_pin</mat-icon> Profile
    </button>
    <button mat-menu-item 
    class="menu-bt" 
    (click)="logout()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </mat-menu>

  <!-- <button mat-raised-button  (click)="logout()">
    <mat-icon>logout</mat-icon> Logout
  </button> -->
</mat-toolbar>