<div class="example-button-container mt-2 ml-2">
  <!-- <button 
    matTooltip="Back to home page"
   
    [routerLink]="['/home']" routerLinkActive="router-link-active" > -->
  <mat-icon [routerLink]="['/home']" class="back-bt" style="cursor: pointer"
    >keyboard_backspace</mat-icon
  >
</div>


<form [formGroup]="editForm">
<div class="container">
    <div *ngIf="Edit; else elsemode">
        <mat-form-field appearance="legacy">
            <mat-label>Enter name</mat-label>
            <input matInput placeholder="Placeholder" 
            formControlName="name"
            >
            
          </mat-form-field>
    </div>
  <div>
    <ng-template #elsemode> <h1>{{ loginUser.name | uppercase }}</h1> </ng-template>
  </div>

  <div>
    <h1>{{ loginUser.email | uppercase }}</h1>
  </div>

  <div *ngIf="Edit ; else savee"> <button mat-raised-button color="primary" (click)="save()">save</button>
  <br><mat-hint>when you click save then you logout</mat-hint> </div>
 <div>
     <ng-template #savee >
        <button mat-raised-button color="primary" (click)="edit()">Edit</button>
     </ng-template>
 </div>
 
</div>
</form>