<form [formGroup]="forgetForm">
    <mat-form-field appearance="outline" style="width: 100%">
        
        <mat-label>Enter your register email</mat-label>
        <input matInput placeholder="pat@example.com" formControlName="forget_Email" />
    </mat-form-field>

    <section>
        <mat-checkbox color="primary" formControlName="checkbox" value="ture">I am not a robot</mat-checkbox>
    </section>

    <div style="text-align: center">
        <button mat-raised-button mat-dialog-close (click)="forgetRequest()" [disabled]="!forgetForm.valid">
            <mat-icon style="color: BLUE">send</mat-icon> Send
        </button>
    </div>
</form>