<h2>
    <mat-icon>app_registration</mat-icon>Edit employ
  </h2>
  
  <!-- Employ form -->
  <form [formGroup]="Editform">
  
    <!-- Employ name field -->
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-icon matPrefix>person</mat-icon>
      <mat-label>Employ full-name</mat-label>
      <input matInput placeholder="Enter Employ name" formControlName="E_Name" />
    </mat-form-field>
  
    <!-- Employ email field -->
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-icon matPrefix>email</mat-icon>
      <mat-label>Employ Email</mat-label>
      <input matInput placeholder="pat@example.com" formControlName="E_Email" />
    </mat-form-field>
  
    <!-- Employ address field -->
    <mat-form-field appearance="fill" style="width: 100%">
      <mat-icon matPrefix>add_location</mat-icon>
      <mat-label>Employ Address</mat-label>
      <input matInput placeholder="Ex. 100 Main St" formControlName="E_Address" />
    </mat-form-field>
  
    <!-- Employ number field -->
   
    <div class="row">
      <div class="col-lg-6 col-md-6  col-sm-12">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-icon matPrefix>call</mat-icon>
          <mat-label>Employ Mobile-number</mat-label>
          <input matInput type="number" placeholder="Enter mobile number" formControlName="E_Number">
        </mat-form-field>
      
      </div>
  
      <div class="col-lg-6 col-md-6 col-sm-12">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Employ id</mat-label>
          <input matInput type="number" placeholder="Enter mobile number" formControlName="E_id">
        </mat-form-field>
      </div>
    </div>
  
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Choices Employ-department</mat-label>
          <mat-select formControlName="E_Department">
            <mat-option value="MEAN">MEAN</mat-option>
            <mat-option value="MERN">MERN</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
  
      <div class="col-lg-6 col-md-6 col-sm-12" >
        <mat-form-field appearance="fill" style="width: 100%">
          <mat-label>Choices Employ-status</mat-label>
          <mat-select formControlName="E_Status">
            <mat-option value="Active">Active</mat-option>
            <mat-option value="Inactive">Inactive</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
  
    <div class="my-2">
      <label for="profile photo">Choices Employ-photo</label>
      <input type="file" (change)="uploadFile($event)" style="width: 100%">
    </div>
  
    <div style="text-align: center;">
  
      
      <button mat-raised-button mat-dialog-close [disabled]="!Editform.valid" (click)="edit()" class="mx-3">
        <span class="material-icons" style="color: green;">beenhere</span> Update</button>
    </div>
     
  </form>