.boder {
  box-shadow: 0 0 2px;
  padding: 2px;
  // font-weight: bold;
  font-size: 18px;
}

.error {
  background-color: #fba2a2;
}

.body {
  margin: 0;
  padding: 0;
  height: 100vh;
  // background-color: #0cbaba;
  // background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  background-image: url(../../../assets/records1.jpg);
  background-size: cover;
background-repeat: no-repeat;
}

.mat-card {
  box-shadow: 2px 1px 15px;
}

.forget:hover{
  color: blue;
  cursor: pointer;
}