<div class="body ">

  <!-- error massage -->
  <mat-card class="error" *ngIf="errorMsg">
    <Strong>An Error Occurred </Strong>{{errorMsg}}
  </mat-card>

  <div class="d-flex justify-content-center   pt-5">

    <mat-card style="width: 350px; height: 450px" class="mat-card">

      <!-- login form -->
      <form [formGroup]="loginForm">
        <mat-card-title class="text-center my-3">Login Form</mat-card-title>

        <!-- Email field -->
        <mat-form-field appearance="outline" style="width: 100%" class="mt-2">
          <mat-icon matPrefix>email</mat-icon>
          <mat-label>Email</mat-label>
          <input matInput placeholder="Example@gmail.com" formControlName="email" />
        </mat-form-field>

        <!-- password field -->
        <mat-form-field appearance="outline" style="width: 100%">
          <mat-icon matPrefix>lock</mat-icon>
          <mat-label>Password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" name="password" id="password"
            autocomplete="section-blue shipping address-level2" formControlName="password" />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <!-- login button -->
        <button mat-raised-button color="primary" style="width: 100%" (click)="login()">
          Login
        </button>

        <p class="text-center mt-3 boder">Or login with</p>

        <!-- login with google -->
        <button mat-raised-button color="warn" style="width: 100%" class="mt-2" (click)="googloLogin()">
          <mat-icon>admin_panel_settings</mat-icon> Google
        </button>

        <!-- sign up page link and forget password -->
        <p class="text-center mt-3">
          Not a member?<a [routerLink]="['/register']"> Signup now </a> | <a (click)="forget()" class="forget"
            style="color: blue;">Forget password</a>
        </p>
      </form>


    </mat-card>
  </div>

</div>