<div class=" body ">
  <!-- erroe message -->
  <mat-card class="error" *ngIf="errorMsg">
    <Strong>An Error Occurred </Strong> {{errorMsg}}
  </mat-card>
 
  <div class="d-flex justify-content-center align-items-center pt-5">

  <mat-card style="width: 400px; height: 480px">
    <mat-card-title class="text-center">Registration Form</mat-card-title>

    <!-- registastion form -->
    <form [formGroup]="register">

      <!-- name -->
      <mat-form-field appearance="outline" style="width: 100%" class="mt-3">
        <mat-icon matPrefix>person</mat-icon>
        <mat-label>Name</mat-label>
        <input
          matInput
          placeholder="Enter Name"
          type="text"
          name="name"
          id="name"
          formControlName="name"
        />
        <mat-hint *ngIf="false">Enter name</mat-hint>
      </mat-form-field>

      <!-- emali -->
      <mat-form-field appearance="outline" style="width: 100%" class="">
        <mat-icon matPrefix>email</mat-icon>
        <mat-label>Email</mat-label>
        <input
          matInput
          placeholder="Enter Email"
          type="email"
          name="email"
          id="email"
          formControlName="email"
        />
      </mat-form-field>

      <!-- passwrod -->
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          name="password"
          id="password"
          autocomplete="section-blue shipping address-level2"
          formControlName="password"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hide = !hide"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide"
        >
          <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
        </button>
      </mat-form-field>

      <!-- confrim password -->
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-icon matPrefix>lock</mat-icon>
        <mat-label>Confrim Password</mat-label>
        <input
          matInput
          [type]="hidee ? 'password' : 'text'"
          name="conpassword"
          id="conpassword"
          autocomplete="section-blue shipping address-level2"
          formControlName="cpassword"
        />
        <button
          mat-icon-button
          matSuffix
          (click)="hidee = !hidee"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidee"
        >
          <mat-icon>{{ hidee ? "visibility_off" : "visibility" }}</mat-icon>
        </button>

        <mat-hint
          style="color: red"
          *ngIf="register.hasError('notMatch') && confiremPassword.touched"
          >Password not match*</mat-hint
        >
      </mat-form-field>

      <!-- gender -->
      <!-- <div>
                <mat-radio-group aria-label="Select an option" formControlName="gender" style="float: left;">
                    <mat-radio-button value="gender" name="male" >Male</mat-radio-button>
                    <mat-radio-button value="gender" name="female" >Female</mat-radio-button>
                 </mat-radio-group>
                 
                </div>
                <div style="clear: both;"></div> -->

      <!-- checkbox -->

      <section class="example-section" style="float: left">
        <mat-checkbox class="example-margin" color="primary"
          >Agree to terms and condition</mat-checkbox
        >
      </section>
      <div style="clear: both"></div>

      <!-- registration button -->

      <button
        class="bt-login mt-3"
        type="submit"
        mat-raised-button
        color="primary"
        name="register"
        style="width: 100%"
        (click)="registerMe()"
      >
      <mat-icon>how_to_reg</mat-icon>
        Register me
      </button>
    </form>
  </mat-card>
</div>
</div>
