.body {
  margin: 0;
  padding: 0;
  height: 100vh;
  // background-color: #0cbaba;
  // background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  background-image: url(../../../assets/records1.jpg);
  background-size: cover;
}

.error {
  background-color: #fba2a2;
}

label {
  color: rgb(8, 8, 8);
  font-size: 15px;
  font-weight: bold;
}

.chick {
  cursor: pointer;
}
.chick:hover {
  color: blueviolet;
}
