
<div class="body">



<!-- header -->
<app-header [name]="fullname"></app-header>

<!-- progress bar -->
<div [ngStyle]="{'display':respons ? 'true' : 'none'}">
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</div>

<div class="container1 ">

  <!-- add employ form -->
  <div class="example-button-container add">
    <button mat-fab color="accent" (click)="addEmploy()">
      <mat-icon>person_add</mat-icon>
    </button>
  </div>
  <!-- <div style="clear: both"></div> -->
  <!-- search employ -->
  <div class="pt-3">
    <div class="row">

      <div class="mt-1">
        <mat-icon style="color: #ecc32e;transform: rotateZ(45deg);">pan_tool</mat-icon>
      </div>

      <div class="col-lg-6 col-md-6 col-sm-12">
        
        <h1><u>Hi {{loginUser.name | uppercase}}</u> </h1>
      </div>
    
    </div>
  </div>
  <div style="clear: both"></div>


<!-- employ card -->

  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12 pt-3" *ngFor="let employ of employ_list">
      <mat-card class="mat-crad">
        <div>

          <!-- employ profile photo -->
          <a (click)="showPhoto()">

            <img [src]="employ.E_Photo | getDownloadURL" style="float: left;" class="img" alt="profile image">
          </a>
        
          <!-- Employ title name -->
          <div style="float:left;" class="pl-2">

            <mat-card-title class="mt-1">{{employ.E_Name}}</mat-card-title>
            <mat-card-subtitle>Emaploy details</mat-card-subtitle>

          </div>

          <!-- employ delete profile and edit profile button -->
          <div style="float: right;">
            <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
              <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #beforeMenu xPosition="before">
              <button mat-menu-item class="bt_menu" (click)="edit_E(employ)">
                <mat-icon style="color: black;">edit</mat-icon> Edit profile
              </button>
              <button mat-menu-item class="bt_menu" (click)="delete_E(employ.id)">
                <mat-icon>delete</mat-icon> Delete Profile
              </button>
            </mat-menu>
          </div>
        </div>
        <div style="clear: both;"></div>
       
        <!-- heare employ details -->
        <!-- <div class="row">
          <div class="col-3">Name:</div>
          <div class="col-9">{{ employ.E_Name }}</div>
        </div> -->

        <!-- <div class="row">
          <div class="col-3">Email:</div>
          <div class="col-9">{{ employ.E_Email }}</div>
        </div> -->

        <!-- <div class="row">
          <div class="col-3">Department:</div>
          <div class="col-9">{{ employ.E_Department }}</div>
        </div> -->

        <div class="row">
          <div class="col-3">id</div>
          <div class="col-9">{{ employ.E_id }}</div>
        </div>

        <!-- <div class="row">
          <div class="col-3">Number:</div>
          <div class="col-9">{{ employ.E_Number }}</div>
        </div> -->

        <!-- <div class="row">
          <div class="col-3">Address:</div>
          <div class="col-9">{{ employ.E_Address }}</div>
        </div> -->

        <div class="row">
          <div class="col-3">Status</div>

          <div class="col-9" *ngIf="employ.E_Status == 'Active'; else elseTemplate">
            <p class="active">Active</p>
          </div>

          <ng-template #elseTemplate>
            <div class="col-9">
              <p class="inactive">Inactive</p>
            </div>
          </ng-template>

        </div>

        <!-- employ profile view -->
        <div>
          <button mat-raised-button color="primary" class="view-bt" (click)="viewProfile(employ)">
            <mat-icon>account_box</mat-icon> VIEW PROFILE
          </button>
        </div>
        
      </mat-card>
    </div>
  </div>
</div>
</div>