.body {
  margin: 0;
  padding: 0;

  // background-color: #0cbaba;
  // background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
  // background-image: url(../../../assets);
 
  background-color: #d2d1cf;
  height: 100vh;
  
}

.container1 {
  padding-left: 50px;
  padding-right: 50px;
}
.add {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
}

.inactive {
  color: red;
  font-weight: bold;
}

.active {
  color: green;
  font-weight: bold;
}

.mat-card:hover {
  box-shadow: 0 0 10px;
}

.img {
  width: 50px;
  height: 50px;
  background-size: cover;
  border-radius: 50px;
}

.bt_menu:hover{
    background-color: rgb(206, 198, 198);
}

.view-bt:hover{
  
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

@media screen and (max-width: 1000px) {
  .body {
   
  
   
    background-color: #d2d1cf;
    height:auto;
    
  }
  

}