<h2>{{viewProfile.E_Name}}</h2>
<div>

  <div class="row">

    <div class="col-lg-6 col-sm-8">
      <img class="img" [src]="viewProfile.E_Photo | getDownloadURL" alt="">

    </div>
    <div class="col-lg-6 col-sm-4">
   
    </div>
  </div>



  <div class="row mt-2">
    <div class="col-6">
      <strong><u>Name:</u> </strong>
      <div>{{viewProfile.E_Name}}</div>
    </div>

    <div class="col-6">
      <strong><u>Email:</u></strong>
      <div>{{viewProfile.E_Email}}</div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-6">
      <strong><u>deparment:</u></strong>
      <div>{{viewProfile.E_Department}}</div>
    </div>

    <div class="col-6">
      <strong><u>Employ number:</u></strong>
      <div>{{viewProfile.E_id}}</div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-6">
      <strong><u>Moblie number:</u></strong>
      <div>{{viewProfile.E_Number}}</div>
    </div>

    <div class="col-6">
      <strong><u>status:</u>status</strong>
      <div>{{viewProfile.E_Status}}</div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-12">
      <strong><u>Address</u></strong>
      <div>{{viewProfile.E_Address}}</div>
    </div>
  </div> -->
</div>